<%- include('partials/header') %>

<h1>PERSONAJES STAR WARS</h1>

<%- include('partials/navbar') %>

<form method="post">
    <div class="row">
        <div class="form-group col-md-6" id="formulario">
            <h2>Episodio IV - Una nueva esperanza</h2>
            <input type="text" class="form-control" name='tittle' class="gui-input" autofocus required
                placeholder="Ingrese el nombre del personaje">
            <br>
            <div id="bot" class="text-center">
                <input type="submit" name="name" value="Agregar Personaje" class="btn btn-success text-center"></input>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" name="name" value="Eliminar Personaje" class="btn btn-danger text-center"></input>
            </div>
        </div>
</form>
<div class="col-md-6 text-center" id="bloque">
    <h2>Personajes </h2>
    <ul class="list-group">
        <% for (let i= 0; i < lista.length; i++) {%>
        <li class="list-group-item"><%= lista[i] %> </li>
        <%} %>
    </ul>
</div>
<br>
</div>
<%- include('partials/footer') %>